@import url('https://fonts.googleapis.com/css?family=DM+Sans:700,500,400,500,500,400,500,500,500,700,500,500|Poppins');
hr.new1 {
  border-top: 3px;
}
body {
  padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: ;



  }

.Section1 {
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  flex-wrap: nowrap;
  width: 100%;

}

.Section2 {
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  flex-wrap: nowrap;
  width: 100%;
}

.Section2 .footer{

  font-family: 'Poppins', sans-serif;
  padding-top: 0px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  background-color: #414770;
  color: #fff;
  text-align: center;
  z-index: 1;

}
.footer p{
  opacity: 0.8;
  background-color: #414770;
}

.GreyBckg {
    background-color:#511F73 ;
    padding-top: 120px;
    padding-bottom: 0px;
    padding-left: 35px;



}


h2 {
  position: relative;
  top: -400px;
  font-size: 55px;
  color: #867BCC;
  padding-right: 300px;
  padding-left: 50px;
  text-justify: inter-word;
  text-align: left;
  z-index: 2;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

h3 {
  position: relative;
  top: -400px;
  font-size: 20px;
  color: #8B79D9;
  padding-right: 300px;
  padding-left: 50px;
  text-justify: inter-word;
  text-align: left;
  z-index: 2;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

li{

  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background-color: #111;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

.Row {

    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.VertCenter {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Spacer1 {
    margin-top: 20px;
    color: #3d3b30;
    padding-right: 400px;
    padding-left:50px;
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
}

.Spacer2 {
    margin-top: 24px;
    color: #3d3b30;
    padding-right: 200px;
    padding-left:200px;
    text-align: center;
}
.Button {
    display: inline-block;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 18px;
    padding-top: 18px;
    background-color: #16679a;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    z-index:1;

	-webkit-animation: bounce-top 1200ms both;
	        animation: bounce-top 1200ms both;

}



/* ----------------------------------------------
 * Generated by Animista on 2020-9-10 17:36:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}




.ButtonL{
  display: inline-block;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 18px;
  padding-top: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  z-index:1;
  background-color: #C1292E;
}

.Button:hover {
  opacity: 0.8;
    z-index:-1;
}
.ButtonL:hover{
  opacity: 0.8;
    z-index:-1;
}

.getstartedbuttons{

	text-align: left;
  padding-bottom: 10px;
}
.Col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ContentBlock {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 24px;
}

.BackgroundFilter {
    background-color: rgba(0, 0, 0, 0.11);
}

.Center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}



img{
padding-top: 0px;
padding-bottom: 0px;
top: 0;
width: 100%;
height: 450px;


}

.Firstsection{
  text-align: center;
  background-color: black;
  width: 100%;
  height: 700px;
}


.CTABlock {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Reversed {
    color: #333;
    background-color: #fff;
    border-color: #ffffff;
}

.CTAImage {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 600px;
    height: 360px;
}



.Copywrites {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
}




.SectionTitleWrapper {
    max-width: 600px;
}



h5 {
    font-size: 28px;
}

span {
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.span-38kta {
    position: static;
    flex-direction: row;
    display: none;
}

.span-mxz8i {
    height: 12px;
}

@media (max-width: 480px) {
    .ColReverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .CTABlock {
        padding-right: 20px;
        padding-left: 20px;
    }


}

ul {

	width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


@media (max-width: 1024px) {
    .ContentBlock {
        padding-right: 15px;
    }

    .CTAImage {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .Row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Spacer {
        margin-top: 0px;
    }

    .Col {
        margin-bottom: 0px;
        width: 100%;
    }

    .ContentBlock {
        padding-bottom: 0px;
    }

    .CTABlock {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .CTAImage {
        border-radius: 10px;
    }
}




.divv{
    width: 80%;
    margin: 0px auto;
    text-align: center;

}
table{
 perspective: 200px;
padding-left: 12px;

}

.allergens{
  perspective: 200px;
 padding-left: 50px;

}

.reason {
  perspective: 200px;
 padding-left: 50px;

}
th{
    text-align: left;
    height: 5px;
    font-weight:normal;
    font-size: 20px;

}
th,td{

    padding: 26px;

}


.z1{
    color: cornflowerblue;
    background-color: #05184c;;
}
.z2{
    color: rgba(249, 0, 0, 0.85);
    transition: transform 2s;
    transform-style: preserve-3d;
}

tr:nth-child(even){

    background-color: #d7e3fc;

}
tr:nth-child(odd){

    background-color:#d7e3fc;

}
td{
    color: blue;


}

tr,th{
    cursor: pointer;
}
.logo{
  float: left;
  width: 130px;
  height: 70px;
  z-index: 3;
  line-height: 50px;
  padding-right: 550px;

}

.speak{
  color: #107589;
  text-decoration: none;
  position: relative;
  padding-right: 8px;
  font-weight: bold;
}

.speak:hover{
  color: black;
}
.nav {
  background: #414770;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  display:inline-flex;
  justify-content:space-around;
  padding: 10px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  z-index: 3;
  opacity: 1;
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}

.nav-brand, .nav-link{
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  padding-right: 02rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;



}
.nav-link {
  font-size: 1rem;
  padding-bottom: 2px;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 0px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
  padding-bottom: px;
}



.toggler span {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: relative;
  transition: .25s ease-in-out;
  color: whi
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover,
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 100vh;
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
